<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Admin Registration Form</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/voters.css">
    <link rel="stylesheet" href="../../public/css/form.css">
</head>

<body>
    <center>
        <div class="wrapper fadeInDown">
            <div class="mainCard shadow-lg p-5 mb-5 bg-white rounded mt-5">
                <h3 class="mb-4">Administrator Registration Form</h3>
                <hr>
                <form action="./administration/registration/" method="POST" autocomplete="off">
                    <div class="conatiner d-inline mb-3">
                        <div class="form-group d-inline">
                            <i class="fa fa-user"></i>
                            <input style="width: 30%;" type="text" name="firstname" placeholder="First Name" required>
                        </div>
                        <div class="form-group d-inline ml-3">
                            <input style="width: 30%;" type="text" name="lastname" placeholder="Last Name" required>
                        </div>
                        <div class="form-group d-inline ml-3">
                            <input style="width: 30%;" type="text" name="middlename" placeholder="Middle Name" required>
                        </div>
                    </div>

                    <div class="conatiner"><br>
                        <div class="float-left" style="margin-left: 13px"><i class="fa fa-address-book"> Address</i></div><br>
                        <div class="row">
                            <div class="col">
                                <input type="text" name="barangay" placeholder="Street/Brgy" required>
                            </div>

                            <div class="col">
                                <input type="text" name="municipality" placeholder="City/Municipality" required>
                            </div>
                        </div>
                    </div>

                    <div class="conatiner">
                        <div class="row">
                            <div class="col">
                                <input type="text" name="province" placeholder="Province" required>
                            </div>

                            <div class="col">
                                <input type="text" name="region" placeholder="Region" required>
                            </div>
                        </div>
                    </div><br>
                    <div class="container px-4">
                        <div class="row">
                            <div class="col-sm form-group">
                                <label for="birthday"><i class="fa fa-birthday-cake"></i></label>
                                <input type="date" name="birthday" required>
                            </div>

                            <div class="col-sm">
                                <label for="gender"></label>
                                <select class="form-control" id="gender" name="gender" required>
                                    <option>....Gender...</option>
                                    <option value="FEMALE">Female</option>
                                    <option value="MALE">Male</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="px-2 mb-2">
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group d-inline">
                                    <i class="fa fa-child"></i>
                                    <input type="tel" name="age" placeholder="Age..." required>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group d-inline">
                                    <i class="fa fa-phone"></i>
                                    <input type="text" name="contactNumber" placeholder="0000-000-0000" required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group d-inline">
                                    <i class="fa fa-envelope"></i>
                                    <input type="email" name="email" placeholder="Email Address" required>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-group">
                                    <i class="fa fa-user-check"></i>
                                    <input type="text" name="username" placeholder="Username" required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <i class="fa fa-lock"></i>
                                    <input type="text" name="password" placeholder="Password" required>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <button type="submit" class="btn btn-primary" style="font-size:large;border-radius: 30px;padding-left: 150px;padding-right: 150px;padding-top: 10px;padding-bottom: 10px;">Register</button>
                </form>
            </div>
        </div>
    </center>
</body>

</html>