.row>.col>input {
    border: none;
    border-bottom: 1px solid #999;
}

.transparent {
    background-color: transparent !important;
    background: transparent !important;
    border: transparent !important;
    border-bottom: 1px solid #999 !important;
}

.form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #999;
}

.mt-n20 {
    margin-top: -20px !important;
}

.mainCard {
    margin-top: 5%;
    background-color: #ffffff;
    width: 75%;
    padding: 5%;
}

.form-control:focus {
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.brand_logo {
    width: 110px;
}

.loginCard {
    margin-top: 6%;
    background-color: #ffffff;
    width: 50%;
    padding: 5%;
}

small {
    color: white;
    margin: 0 auto;
}

.input {
    float: left;
    width: 32%;
}